            </div>

        </main>
        <footer class="bg-near-black white-80 pv3 pv6-l ph4 mt6">
                <p class="f6"><span class="dib mr4 mr5-ns">©2019 Authoring the Internet.</span>
                  <a class="link white-80 hover-light-purple" href="/">Home</a> /
                  <a class="link white-80 hover-gold" href="/posts"> Journal </a> /
                  <a class="link white-80 hover-green" href="#">me [at] andrewmiracle . c0m </a>
                </p>
              </footer>

    </body>

</html>
